<% content_for :head do %>
  <title>Please Pick a Project to view</title>
<% end %>

<% content_for :body do %>
  <h1><u>Projects to View</u></h1>
  <br />
  <% @projects.each do |p| %>
    <%= link_to "#{p.name}", :action => 'project', :project_id => p.id %>
    <br />
  <% end %>
  <% if @user.is_admin %>
    <%= link_to "Set up a new project", :controller => 'new_project',
        :action => 'setup0' %>
  <% end %>
  <br />
<% end %>
