<% content_for :custom_scripts do %>
  <%= stylesheet_link_tag 'base.css' %>
  <%= stylesheet_link_tag 'tables.css' %>
  <%= stylesheet_link_tag 'custom.css' %>
<% end %>

<% content_for :body do %>

  <h3><center>DataDive (SF 2011)
  </center></h3>

  <p> Data Analysis from SF DataDive </p>
<% end %>
