# m h  dom mon dow   command
* * * * * /var/www/mobilizing-health/script/rails runner -e production /var/www/mobilizing-health/script/cron.rb
30 3 * * 1 /var/www/mobilizing-health/script/rails runner -e production /var/www/mobilizing-health/script/doctor_game.rb
