<% content_for :body do %>
<style type="text/css">
  div.scroll-box {
    height:70%;
    width: 80%;
    font:10pt/20pt Verdana,arial,sans-serif;
    overflow:scroll;
  }
</style>
<div class="scroll-box">
  <%= render 'layouts/terms' %>
</div>
<% end %>
