<%= content_for :custom_scripts do %>
  <style type="text/css">
    div.scroll-box {
      height:70%;
      width: 80%;
      font:10pt/20pt Verdana,arial,sans-serif;
      overflow:scroll;
    }
  </style>
<% end %>

<% content_for :body do %>
  <div class="scroll-box">
    <%= render 'layouts/terms' %>
  </div>
  <br />
  <%= button_to "Accept and Continue", "/new_project/setup2", :style => "margin-left: 100px;" %>
<% end %>
